@attribute [Route(Routes.Settings)]
@using BTCPayApp.CommonServer.Models
@using BTCPayApp.Core
@using BTCPayApp.Core.Auth
@using BTCPayApp.Core.Contracts
@using BTCPayApp.UI.Features
@using Plugin.Fingerprint.Abstractions
@inject IState<UIState> UiState
@inject IDispatcher Dispatcher
@inject IConfigProvider ConfigProvider
@inject IAccountManager AccountManager
@inject IFingerprint Fingerprint
@inject IState<UIState> UIState
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Settings</PageTitle>

@if (_account != null && _userInfo != null)
{
    <section class="container py-4">
        <header class="d-flex align-items-center justify-content-between gap-3 mb-4">
            @if (InstanceInfo?.CustomThemeExtension is null)
            {
                <h1>Settings</h1>
                <div class="d-flex align-items-center gap-1">
                    @foreach (var theme in ThemeList)
                    {
                        <button type="button" class="btn-icon @(Model.Theme == theme ? "active" : null)" title="@theme" @onclick="() => SetTheme(theme)">
                            <Icon Symbol="@($"themes-{theme.ToLower()}")"/>
                        </button>
                    }
                </div>
            }
        </header>
        <a href="@Routes.User" class="box user">
            <div class="profile-picture"></div>
            <div class="me-auto">
                <h5>@(_userInfo.Name ?? _userInfo.Email)</h5>
                <span>@_userInfo.Email</span>
            </div>
            <Icon Symbol="caret-right"/>
        </a>

        <h2>Store</h2>
        <div class="box">
            <ul class="list-group list-group-flush list-group-links">
                @{ var store = AccountManager.GetCurrentStore(); }
                @if (store != null)
                {
                    <li class="list-group-item">
                        <a href="@Routes.StorePath(store.Id!)">
                            <span>@store.Name</span>
                            <Icon Symbol="caret-right"/>
                        </a>
                    </li>
                }
                @if (_userInfo.Stores?.Count() > 1 || AccountManager.GetCurrentStore() == null)
                {
                    <li class="list-group-item">
                        <a href="@Routes.SelectStore">
                            <span>Select Store</span>
                            <Icon Symbol="caret-right"/>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <h2>Security</h2>
        <div class="box">
            <ul class="list-group list-group-flush list-group-links">
                <li class="list-group-item">
                    <a href="@Routes.ChangePasscode">
                        <span>@(HasPasscode ? "Change" : "Set") Passcode</span>
                        <Icon Symbol="caret-right"/>
                    </a>
                </li>
                @if (HasPasscode)
                {
                    <li class="list-group-item">
                        <button class="btn btn-link text-danger" type="button" @onclick="RemovePasscode">Remove passcode</button>
                    </li>
                }
            </ul>
        </div>
    </section>
}

@code {
    private AppUserInfo? _userInfo;
    private BTCPayAccount? _account;
    private BTCPayAppConfig? _config;
    private bool? _biometricAuthAvailable;
    private SettingsModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Model.Theme = UiState.Value.SelectedTheme;
        _userInfo = AccountManager.GetUserInfo();
        _account = AccountManager.GetAccount();
        _config = await ConfigProvider.Get<BTCPayAppConfig>(BTCPayAppConfig.Key);
        _biometricAuthAvailable = await Fingerprint.IsAvailableAsync();
    }

    // TODO: Guard with passcode entering
    private async Task RemovePasscode()
    {
        if (HasPasscode)
        {
            _config!.Passcode = null;
            await ConfigProvider.Set(BTCPayAppConfig.Key, _config);
        }
    }

    private void SetTheme(string theme)
    {
        Model.Theme = theme;
        Dispatcher.Dispatch(new UIState.ApplyUserTheme(Model.Theme));
    }

    private class SettingsModel
    {
        public string Theme { get; set; } = Themes.System;
    }

    private static string[] ThemeList => [Themes.System, Themes.Light, Themes.Dark];
    private bool HasPasscode => !string.IsNullOrEmpty(_config?.Passcode);
    private AppInstanceInfo? InstanceInfo => UIState.Value.Instance?.Data;
}
