@attribute [Route(Routes.User)]
@using System.ComponentModel
@using BTCPayApp.Core
@using BTCPayApp.Core.Auth
@using BTCPayApp.Core.Contracts
@using BTCPayApp.UI.Components.Layout
@using BTCPayApp.UI.Util
@inject IAccountManager AccountManager
@inject IDataDirectoryProvider DataDirectoryProvider
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>User</PageTitle>

<SectionContent SectionId="_Layout.Top">
    <Titlebar Back>
        <h1>User</h1>
    </Titlebar>
</SectionContent>
<section class="container">
    @if (Account != null)
    {
        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
            <h2 class="mb-0">Account</h2>
        </div>
        <div class="box">
            <ValidationEditContext Model="Account" OnValidSubmit="HandleValidAccountSubmit" SuccessMessage="@_accountSuccessMessage" ErrorMessage="@_accountErrorMessage" enctype="multipart/form-data">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label for="Email" class="form-label" data-required>Email</label>
                    <InputText @bind-Value="Account.Email" id="Email" type="email" class="form-control"/>
                    <ValidationMessage For="@(() => Account.Email)"/>
                </div>
                <div class="form-group">
                    <label for="Name" class="form-label">Name</label>
                    <InputText @bind-Value="Account.Name" id="Name" class="form-control"/>
                    <ValidationMessage For="@(() => Account.Name)"/>
                </div>
                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between gap-2">
                        <label for="ProfilePicture" class="form-label">Profile Picture</label>
                        @if (!string.IsNullOrEmpty(Account.ImageUrl))
                        {
                            <button type="button" class="btn btn-link p-0 text-danger" @onclick="UnsetProfilePicture">
                                <Icon Symbol="cross"/> Remove
                            </button>
                        }
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <InputFile OnChange="LoadProfilePicture" @key="@_inputFileId" id="ProfilePicture" class="form-control"/>
                        @if (!string.IsNullOrEmpty(Account.ImageUrl))
                        {
                            <img src="@Account.ImageUrl" alt="Profile picture" class="profile-picture"/>
                        }
                    </div>
                    <ValidationMessage For="@(() => Account.ImageUrl)"/>
                </div>

                <button type="submit" class="btn btn-primary w-100" disabled="@(_accountSending)">
                    @if (_accountSending)
                    {
                        <LoadingIndicator/>
                    }
                    else
                    {
                        <span>Update Account</span>
                    }
                </button>
            </ValidationEditContext>
        </div>
    }
    @if (Password != null)
    {
        <h2>Password</h2>
        <div class="box">
            <ValidationEditContext Model="Password" OnValidSubmit="HandleValidPasswordSubmit" SuccessMessage="@_passwordSuccessMessage" ErrorMessage="@_passwordErrorMessage">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="CurrentPassword" class="form-label" data-required>Current Password</label>
                    <InputText @bind-Value="Password.CurrentPassword" type="password" id="CurrentPassword" class="form-control"/>
                    <ValidationMessage For="@(() => Password.CurrentPassword)" />
                </div>
                <div class="form-group">
                    <label for="NewPassword" class="form-label" data-required>New Password</label>
                    <InputText @bind-Value="Password.NewPassword" type="password" id="NewPassword" class="form-control"/>
                    <ValidationMessage For="@(() => Password.NewPassword)" />
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="form-label" data-required>Confirm Password</label>
                    <InputText @bind-Value="Password.ConfirmPassword" type="password" id="ConfirmPassword" class="form-control"/>
                    <ValidationMessage For="@(() => Password.ConfirmPassword)" />
                </div>
                <button type="submit" class="btn btn-primary w-100" disabled="@(_passwordSending)">
                    @if (_passwordSending)
                    {
                        <LoadingIndicator />
                    }
                    else
                    {
                        <span>Update Password</span>
                    }
                </button>
            </ValidationEditContext>
        </div>
    }

    <h2>Want to leave?</h2>
    <div class="box">
        <ul class="list-group list-group-flush list-group-links">
            <li class="list-group-item">
                <button class="btn btn-link text-danger" type="button" @onclick="Logout">Logout</button>
            </li>
            <li class="list-group-item">
                <button class="btn btn-link text-danger" type="button" @onclick="RemoveAccount">Remove account</button>
            </li>
        </ul>
    </div>
</section>

@code {
    private AccountModel? Account { get; set; }
    private PasswordModel? Password { get; set; }
    private bool _accountSending;
    private string? _accountErrorMessage;
    private string? _accountSuccessMessage;
    private bool _passwordSending;
    private string? _passwordErrorMessage;
    private string? _passwordSuccessMessage;
    private Guid _inputFileId = Guid.NewGuid();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        AccountManager.OnAccountInfoChange += OnAccountInfoChange;

        var account = AccountManager.GetAccount()!;

        Password = new PasswordModel();
        Account = new AccountModel
        {
            Email = account.Email,
            Name = account.Name,
            ImageUrl = account.ImageUrl
        };
    }

    protected override ValueTask DisposeAsyncCore(bool disposing)
    {
        base.DisposeAsyncCore(disposing);

        AccountManager.OnAccountInfoChange -= OnAccountInfoChange;

        return ValueTask.CompletedTask;
    }

    private async Task OnAccountInfoChange(object? sender, BTCPayAccount? account)
    {
        Account = new AccountModel
        {
            Email = account?.Email,
            Name = account?.Name,
            ImageUrl = account?.ImageUrl
        };
        await InvokeAsync(StateHasChanged);
    }

    private async Task Logout()
    {
        await AccountManager.Logout();
    }

    private async Task RemoveAccount()
    {
        var account = AccountManager.GetAccount()!;
        await Logout();
        await AccountManager.RemoveAccount(account);
    }

    public async Task HandleValidAccountSubmit()
    {
        _accountErrorMessage = _accountSuccessMessage = null;
        _accountSending = true;

        try
        {
            if (!string.IsNullOrEmpty(Account!.ImagePath))
            {
                var path = Account.ImagePath;
                var mimeType = FileHelper.GetContentType(path);
                var upload = await AccountManager.GetClient().UploadCurrentUserProfilePicture(path, mimeType);
                Account.ImageUrl = upload.ImageUrl;
                // cleanup
                File.Delete(path);
                Account.ImagePath = null;
                _inputFileId = Guid.NewGuid();
            }
            else if (string.IsNullOrEmpty(Account!.ImageUrl))
            {
                await AccountManager.GetClient().DeleteCurrentUserProfilePicture();
            }
        }
        catch (Exception e)
        {
            _accountErrorMessage = e.Message;
            _accountSending = false;
            return;
        }

        var result = await AccountManager.ChangeAccountInfo(Account.Email!, Account.Name, Account.ImageUrl);
        _accountSending = false;

        if (result.Succeeded)
        {
            var userData = result.Response!;
            Account = new AccountModel
            {
                Email = userData.Email,
                Name = userData.Name,
                ImageUrl = userData.ImageUrl
            };
            _accountSuccessMessage = string.Join(",", result.Messages ?? ["Your account information has been changed."]);
        }
        else
        {
            _accountErrorMessage = string.Join(",", result.Messages ?? ["Changing your account information failed."]);
        }
    }

    public async Task HandleValidPasswordSubmit()
    {
        _passwordErrorMessage = _passwordSuccessMessage = null;
        _passwordSending = true;

        var result = await AccountManager.ChangePassword(Password!.CurrentPassword!, Password.NewPassword!);
        _passwordSending = false;

        if (result.Succeeded)
        {
            Password = new PasswordModel();
            _passwordSuccessMessage = string.Join(",", result.Messages ?? ["Your password has been changed."]);
        }
        else
        {
            _passwordErrorMessage = string.Join(",", result.Messages ?? ["Changing your password failed."]);
        }
    }

    private async Task LoadProfilePicture(InputFileChangeEventArgs e)
    {
        try
        {
            var appData = await DataDirectoryProvider.GetAppDataDirectory();
            var fileName = e.File.Name;
            var dirPath = Path.Combine(appData, "tmp");
            var filePath = Path.Combine(dirPath, fileName);
            Directory.CreateDirectory(dirPath);

            await using FileStream fs = new(filePath, FileMode.Create);
            await e.File.OpenReadStream().CopyToAsync(fs);
            await fs.FlushAsync();
            Account!.ImagePath = filePath;
            _accountErrorMessage = null;
        }
        catch (Exception ex)
        {
            _accountErrorMessage = $"Profile picture could not be applied: {ex.Message}";
        }
    }

    private void UnsetProfilePicture()
    {
        Account!.ImageUrl = null;
        Account.ImagePath = null;
        _inputFileId = Guid.NewGuid();
    }


    private class AccountModel
    {
        [Required, EmailAddress]
        public string? Email { get; set; }
        public string? Name { get; set; }
        [Url]
        public string? ImageUrl { get; set; }
        public string? ImagePath { get; set; }
    }

    private class PasswordModel
    {
        [Required, DataType(DataType.Password), DisplayName("Current Password")]
        public string? CurrentPassword { get; set; }

        [Required, DataType(DataType.Password), DisplayName("New Password")]
        public string? NewPassword { get; set; }

        [Required, DataType(DataType.Password), DisplayName("New Password Confirmation")]
        [Compare("NewPassword", ErrorMessage = "The password and its confirmation do not match.")]
        public string? ConfirmPassword { get; set; }
    }
}
