@using Comrade.UI.Features
@using Fluxor
@using Comrade.Core
<Fluxor.Blazor.Web.StoreInitializer/>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code{

    [Inject]
    private IState<RootState> RootState { get; set; } = null!;
    [Inject]
    private Starter Starter { get; set; } = null!;
    [Inject]
    public IDispatcher Dispatcher { get; set; } = null!;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new RootState.LoadingAction(true));
        Starter.Loaded.Task.ContinueWith(_ => Dispatcher.Dispatch(new RootState.ConfigLoadedAction(Starter.Config)));
    }

}