@using BTCPayApp.UI.Pages
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudCarousel Class="mx-auto" Style="height:400px;max-width:400px" ShowArrows="@false" ShowBullets="@true" EnableSwipeGesture="@true" AutoCycle="@false" @bind-SelectedIndex="@Step" TData="object">
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex flex-column gap-4" style="height:calc(100% - 4rem)">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.Wallet" Color="@Color.Primary" Size="@Size.Large" />
            <MudText Typo="Typo.h5" Align="Align.Center">Welcome To BTCPay Server</MudText>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="flex-grow-1">
                No fees, no third-party.
                All payments go through your node, running on your phone!
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => GoToStep(1))">Next</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex flex-column gap-4" style="height:calc(100% - 4rem)">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.Lock" Color="@Color.Primary" Size="@Size.Large" />
            <MudText Typo="Typo.h5" Align="Align.Center">Keep your wallet and bitcoin secure, accounting and refunding</MudText>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="flex-grow-1">
                Cloud backups, enhanced accounting functionality and ability to easily refund your customers
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => GoToStep(2))">Next</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex flex-column gap-4" style="height:calc(100% - 4rem)">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.AutoAwesome" Color="@Color.Primary" Size="@Size.Large" />
            <MudText Typo="Typo.h5" Align="Align.Center">Start Accepting Bitcoin Payments</MudText>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="flex-grow-1">
                Free and open-source bitcoin point of sale. With 0% Fees & No Third-party.
            </MudText>
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" Href="@Routes.Pair" id="btn-pair">Pair with BTCPay Server</MudButton>
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" Href="@Routes.Standalone" Disabled="true" id="btn-standalone">Use standalone</MudButton>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private int Step { get; set; } = 0;

    void GoToStep(int step)
    {
        Step = step;
    }
}
