@using BTCPayServer.Client.Models
@using BTCPayServer.Services
@inject DisplayFormatter DisplayFormatter

<a href="@Routes.InvoicePath(Invoice.Id)" class="list-group-item">
    <div class="container d-flex align-items-center justify-content-between gap-3 px-1">
        <div class="d-flex flex-column flex-grow-1 gap-2">
            <div class="d-flex align-items-center justify-content-between">
                <span class="text-end fw-semibold">
                    @DisplayFormatter.Currency(Invoice.Amount, Invoice.Currency, DisplayFormatter.CurrencyFormat.Symbol)
                </span>
                <TruncateCenter Text="@Invoice.Id" class="truncate-center-id"/>
                <span class="text-muted">
                    <DateDisplay DateTimeOffset="@Invoice.CreatedTime"/>
                </span>
                <InvoiceStatusDisplay Invoice="@Invoice" />
            </div>
        </div>
    </div>
</a>

@code {
    [Parameter, EditorRequired]
    public InvoiceData Invoice { get; set; }

    protected string? OrderId => Invoice.Metadata["orderId"]?.ToString();
}
