@using BTCPayApp.Core.Data
<div @attributes="InputAttributes" class="@CssClass">
    @if (Loading)
    {
        <div class="p-3 text-center">
            <LoadingIndicator/>
        </div>
    }
    @if (Payments is not null)
    {
        @if (Payments.Any())
        {
            @foreach (var p in Payments)
            {
                <div class="box">
                    <LightningPaymentItem Payment="@p" Rate="@Rate" Currency="@Currency" OnCancelClick="OnCancelClick" OnToggleDisplayCurrency="OnToggleDisplayCurrency"/>
                </div>
            }
        }
        else if (!string.IsNullOrEmpty(Error))
        {
            <Alert Type="danger">@Error</Alert>
        }
        else
        {
            <div class="box">
                <p class="text-muted my-0">There are no payments, yet.</p>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public IEnumerable<AppLightningPayment>? Payments { get; set; }

    [Parameter, EditorRequired]
    public string? Currency { get; set; }

    [Parameter]
    public decimal? Rate { get; set; }

    [Parameter]
    public EventCallback<AppLightningPayment> OnCancelClick { get; set; }

    [Parameter]
    public EventCallback OnToggleDisplayCurrency { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public string? Error { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    private string CssClass => $"lightning-payment-list {(InputAttributes?.ContainsKey("class") is true ? InputAttributes["class"] : "")}".Trim();
}
