@attribute [Route(Routes.StoreUsers)]
@using BTCPayApp.UI.Components.Layout
@using BTCPayApp.UI.Features
@using BTCPayServer.Client
@using BTCPayServer.Client.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<StoreState> StoreState
@inject IDispatcher Dispatcher

<PageTitle>Store Users</PageTitle>

<SectionContent SectionId="_Layout.Top">
    <Titlebar Back>
        <h1>Store Users</h1>
    </Titlebar>
</SectionContent>

<section class="container">
    <AuthorizeView Policy="@Policies.CanModifyStoreSettings" Resource="@StoreId">
        <Authorized>
            @if (Users is not null)
            {
                @if (Users.Any())
                {
                    <div class="user-list">
                        @foreach (var u in Users)
                        {
                            <a href="@Routes.StoreUserPath(StoreId, u.UserId)" class="user-item box">
                                <span class="fw-semibold">@u.Email</span>
                                @if (!string.IsNullOrEmpty(u.Name))
                                {
                                    <span class="text-muted">@u.Name</span>
                                }
                                <span class="badge bg-light">@u.Role</span>
                            </a>
                        }
                    </div>
                }
                else if (!string.IsNullOrEmpty(Error))
                {
                    <Alert Type="danger">@Error</Alert>
                }
                else
                {
                    <div class="box">
                        <p class="text-muted my-0">There are no users, yet.</p>
                    </div>
                }
            }
            else if (Loading)
            {
                <div class="box">
                    <div class="p-3 text-center">
                        <LoadingIndicator/>
                    </div>
                </div>
            }
        </Authorized>
        <NotAuthorized>
            <Alert Type="danger">Unauthorized.</Alert>
        </NotAuthorized>
    </AuthorizeView>
</section>

@code {
    [Parameter, EditorRequired]
    public string StoreId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Dispatcher.Dispatch(new StoreState.FetchUsers(StoreId));
    }

    private IEnumerable<StoreUserData>? Users => StoreState.Value.Users?.Data;
    private bool Loading => StoreState.Value.Users?.Loading is true;
    private string? Error => StoreState.Value.Users?.Error;
}
