@attribute [Route(Routes.Dashboard)]
@using BTCPayApp.CommonServer.Models
@using BTCPayApp.Core
@using BTCPayApp.Core.Attempt2
@using BTCPayApp.Core.Auth
@using BTCPayApp.UI.Features
@using NBitcoin
@inject IState<RootState> State
@inject IAccountManager AccountManager
@inject OnChainWalletManager OnChainWalletManager
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <header class="container d-flex align-items-center justify-content-between py-2 px-4">
            <div class="d-flex align-items-center justify-content-between gap-2">
                <SetupStatus @ref="_setupStatus" />
                <div class="fw-semibold">
                    @context.User.Identity?.Name
                </div>
            </div>
            <div class="notifications">
                <a class="btn btn-light rounded-circle" href="@Routes.Notifications">
                    <Icon symbol="nav-notifications"/>
                    <span class="visually-hidden">Notifications</span>
                </a>
            </div>
        </header>
        @if (!string.IsNullOrEmpty(_successMessage))
        {
            <section class="container px-4 py-3">
                <Alert Type="success" Margin="0" Dismissible>@_successMessage</Alert>
            </section>
        }
        @if (SetupStateOnchain == SetupState.Completed)
        {
            <section class="container d-flex flex-column gap-4 py-3 px-4 wallet">
                <div class="amount text-center">
                    @if (_balance == null)
                    {
                        <LoadingIndicator />
                    }
                    else
                    {
                        <div class="sats fw-bold fs-1">@_balance.ToUnit(MoneyUnit.Satoshi) sats</div>
                        <div class="fiat fw-semibold text-muted">$174,465.79</div>
                    }
                </div>
                <nav class="d-flex flex-wrap align-items-center gap-3 mx-auto">
                    <a class="btn btn-light rounded-pill" href="@Routes.WalletSend">
                        <Icon symbol="payment-send"/>
                        <span>Send</span>
                    </a>
                    <a class="btn btn-light rounded-pill" href="@Routes.WalletReceive">
                        <Icon symbol="payment-receive"/>
                        <span>Receive</span>
                    </a>
                </nav>
            </section>
        }
        <section class="container px-4 py-3">
            <h2 class="mb-3">Getting started</h2>
            <div class="box">
                <ul class="list-group list-group-flush list-group-links">
                    <li class="list-group-item @(SetupStateConnection == SetupState.Undetermined ? "disabled" : null)" aria-disabled="@(SetupStateConnection == SetupState.Undetermined ? "true" : null)" data-state="@SetupStateConnection.ToString().ToLowerInvariant()">
                        <NavLink class="nav-link" href="@(SetupStateAccount == SetupState.Completed ? Routes.StorePath(AccountManager.GetCurrentStore()!.Id) : Routes.SelectStore)" Match="NavLinkMatch.All">
                            <span>Connect a store</span>
                            @switch (SetupStateConnection)
                            {
                                case SetupState.Failed:
                                    <Icon symbol="warning" class="text-warning"/>
                                    break;
                                case SetupState.Pending:
                                case SetupState.Undetermined:
                                    <LoadingIndicator />
                                    break;
                                default:
                                    <Icon symbol="@(SetupStateAccount == SetupState.Completed ? "done" : "caret-right")"/>
                                    break;
                            }
                        </NavLink>
                    </li>
                    <li class="list-group-item @(SetupStateOnchain == SetupState.Undetermined ? "disabled" : null)" aria-disabled="@(SetupStateOnchain == SetupState.Undetermined ? "true" : null)" data-state="@SetupStateOnchain.ToString().ToLowerInvariant()">
                        <NavLink class="nav-link" href="@(SetupStateOnchain == SetupState.Completed ? Routes.Wallet : Routes.WalletSetup)" Match="NavLinkMatch.All">
                            <span>Set up wallet</span>
                            @switch (SetupStateOnchain)
                            {
                                case SetupState.Undetermined:
                                    <LoadingIndicator />
                                    break;
                                case SetupState.Completed:
                                    <Icon symbol="done"/>
                                    break;
                                default:
                                    <Icon symbol="caret-right"/>
                                    break;
                            }
                        </NavLink>
                    </li>
                    <li class="list-group-item @(SetupStateLightning == SetupState.Undetermined ? "disabled" : null)" aria-disabled="@(SetupStateLightning == SetupState.Undetermined ? "true" : null)" data-state="@SetupStateLightning.ToString().ToLowerInvariant()">
                        <NavLink class="nav-link" href="@(SetupStateLightning == SetupState.Completed ? Routes.Lightning : Routes.LightningSetup)" Match="NavLinkMatch.All">
                            <span>Configure node</span>
                            @switch (SetupStateLightning)
                            {
                                case SetupState.Undetermined:
                                    <LoadingIndicator />
                                    break;
                                case SetupState.Completed:
                                    <Icon symbol="done"/>
                                    break;
                                case SetupState.Failed:
                                    <Icon symbol="warning" class="text-warning"/>
                                    break;
                                default:
                                    <Icon symbol="caret-right"/>
                                    break;
                            }
                        </NavLink>
                    </li>
                    @*
                    <li class="list-group-item">
                        <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                            <span>Set up recovery tools</span>
                            <Icon symbol="caret-right"/>
                        </NavLink>
                    </li>
                    <li class="list-group-item">
                        <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                            <span>Configure LSP</span>
                            <Icon symbol="caret-right"/>
                        </NavLink>
                    </li>
                    *@
                </ul>
            </div>
        </section>
        <section class="container px-4 py-3">
            <h2 class="mb-3">Recent Activity</h2>
            <div class="box">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-2">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <TruncateCenter Text="CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC" Link="@Routes.InvoicePath("CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC")" class="truncate-center-id"/>
                            <span class="text-end">$29.13</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="text-muted">
                                <DateDisplay DateTimeOffset="@(DateTimeOffset.Now - TimeSpan.FromMinutes(21))"/>
                            </span>
                            <span class="text-muted text-end">177,032 sats</span>
                        </div>
                    </li>
                    <li class="list-group-item py-2">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <TruncateCenter Text="WpYu7PQz4QOOjznTuLwp1PNZXZKP8U1pB2" Link="@Routes.InvoicePath("WpYu7PQz4QOOjznTuLwp1PNZXZKP8U1pB2")" class="truncate-center-id"/>
                            <span class="text-end">$29.13</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="text-muted">
                                <DateDisplay DateTimeOffset="@(DateTimeOffset.Now - TimeSpan.FromHours(6))"/>
                            </span>
                            <span class="text-muted text-end">177,032 sats</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </Authorized>
</AuthorizeView>

@code {
    [SupplyParameterFromQuery]
    public string? Success { get; set; }

    private AppUserInfo? _userInfo;
    private BTCPayAccount? _account;
    private SetupStatus? _setupStatus;
    private Money? _balance;

    private string? _successMessage;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Success))
        {
            _successMessage = Uri.UnescapeDataString(Success);
        }

        _userInfo = AccountManager.GetUserInfo();
        _account = AccountManager.GetAccount();

        OnChainWalletManager.StateChanged += RefreshBalance;
        if (OnChainWalletManager.State == OnChainWalletState.Loaded) await GetBalance();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // ensure the ElementReference is set
        if (firstRender) StateHasChanged();
    }

    private async Task RefreshBalance(object? sender, (OnChainWalletState Old, OnChainWalletState New) e)
    {
        if (e is { New: OnChainWalletState.Loaded }) await GetBalance();
    }

    private async Task GetBalance()
    {
        try
        {
            var resp = await OnChainWalletManager.GetUTXOS();
            _balance = new Money(resp.Sum(r => r.TxOut.Value.ToDecimal(MoneyUnit.BTC)), MoneyUnit.BTC);
        }
        catch (Exception ex)
        {
            _balance = null;
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    private SetupState? SetupStateConnection => _setupStatus?.SetupStateConnection() ?? SetupState.Undetermined;
    private SetupState? SetupStateAccount => _setupStatus?.SetupStateAccount() ?? SetupState.Undetermined;
    private SetupState? SetupStateOnchain => _setupStatus?.SetupStateOnchain() ?? SetupState.Undetermined;
    private SetupState? SetupStateLightning => _setupStatus?.SetupStateLightning() ?? SetupState.Undetermined;
}
