@attribute [Route(Routes.PointOfSale)]
@using BTCPayApp.Core.Auth
@using BTCPayApp.UI.Features
@using BTCPayServer.Client.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IAccountManager AccountManager
@inject IState<StoreState> StoreState

<PageTitle>Point Of Sale</PageTitle>

@if (Loading || !string.IsNullOrEmpty(AppId) && !_iframeLoaded)
{
    <section class="loading-container">
        <LoadingIndicator Size="lg"/>
        <div class="fs-4">Loading</div>
    </section>
}
else if (!string.IsNullOrEmpty(Error))
{
    <section class="container">
        <Alert Type="danger">@Error</Alert>
    </section>
}
@if (!string.IsNullOrEmpty(AppId))
{

    @*<section class="container">
        @
        else if (!string.IsNullOrEmpty(Error))
        {
            <Alert Type="danger">@Error</Alert>
        }
        else if (AppData is not null)
        {
            <form method="post" target="checkout" action="@FormAction">
                <Keypad CurrencyCode="@AppData.Currency"
                        IsDiscountEnabled="@AppData.ShowDiscount"
                        IsTipEnabled="@AppData.EnableTips"
                        CustomTipPercentages="new[] { 5, 10, 21 }"/>
            </form>
        }
    </section>*@
    <iframe name="pos" src="@PosUrl" allow="clipboard-read;clipboard-write" allowfullscreen @onload="() => { _iframeLoaded = true; }"></iframe>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private string? AppId => AccountManager.GetCurrentStore()?.PosAppId; //AppData?.Id;
    private string? PosUrl => string.IsNullOrEmpty(AppId) ? null : $"{AccountManager.GetAccount()!.BaseUri}apps/{AppId}/pos";
    private PointOfSaleAppData? AppData => StoreState.Value.PointOfSale?.Data;
    private bool Loading => StoreState.Value.PointOfSale?.Loading is true;
    private string? Error => StoreState.Value.PointOfSale?.Error;
    private bool _iframeLoaded = false;
}
